@import "./../../App";

.container {
  height: 100%;
  display: grid;
}

.auth-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $first-elevation;
  background: radial-gradient(circle, $first-elevation-color 0%, $gradient 75%);
  color: $text-white;
  box-shadow: $first-elevation;
}

.btn {
  display: block;
  margin: auto;
  background-color: $spotify-green;
}

.spotifyLink:hover {
  text-decoration: none;
}